<?xml version="1.0" encoding="UTF-8" standalone="yes"?>
<widget id="com.ionicframework.gitstars383979" version="0.0.1" xmlns="http://www.w3.org/ns/widgets" xmlns:cdv="http://cordova.apache.org/ns/1.0">
  <name>gitStars</name>
  <description>
        An app for viewing starred repositories on Github.
    </description>
  <author email="john.pettigrew404@gmail.com" href="http://www.john-pettigrew.com/">
      https://github.com/john-pettigrew/git-stars
    </author>
  <content src="index.html"/>
  <access origin="*"/>
  <preference name="webviewbounce" value="false"/>
  <preference name="UIWebViewBounce" value="false"/>
  <preference name="DisallowOverscroll" value="true"/>
  <preference name="BackupWebStorage" value="none"/>
  <feature name="StatusBar">
    <param name="ios-package" value="CDVStatusBar" onload="true"/>
  </feature>
</widget>